@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
:root {
    --secondary: #2783FE;
    --secondary-dark: #172C48;
    --gray: #516176;
    --secondary-font: 'Ubuntu', sans-serif;

}
body {
    font-family: var(--secondary-font);
    background-color: #fff;
    margin: 0;

}
.none {
    display: none !important;
}
a {
    text-decoration: none;
}

.header {
    /* max-width: 1920px; */
    align-items: center;
    /* overflow: hidden; */
    position: relative;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: auto;
    padding: 15px 0;
}
.w-inner {
    width: 1220px;
}
.main {
    align-items: center;
    overflow: hidden;
    position: relative;
}

.main::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 575px;
    width: 100%;
    height: 324px;
   
    background-image: url("./../img/main/main-after.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.w-main {
    width: 1920px;
}
.container__main {
    display: flex;
    align-items: center;
    margin: 0 auto;
    
    background: url("./../img/main/main-girl.png") no-repeat, 
    url("./../img/main/main-background.jpg") no-repeat ;
    background-position: right 33% bottom 45%;
    padding: 0 0 190px 0px;
    width: 1920px;

}
.main__about {
    width: 1220px;
    margin: 80px 0px 0px 340px;
}

.main__title {
    margin: 0 0 30px 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    width: 693px; 
    background: linear-gradient(95.89deg, #7BC0FF -9.88%, #2783FE 82.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main__list {
    
    padding: 0;
    width: 420px;
    margin: 0 0 45px 0;
}
.main__list li {
    position: relative;
    margin-top: 15px;
    margin-left: 40px;
    /* padding-left: 10px; */
    font-size: 25px;
    line-height: 200%;
    color: var(--secondary-dark);
}
.main__list .delivery::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 35px;
    width: 100%;
    height: 23px;
    background: url('./../img/icon/icon_done.svg') no-repeat;
}
.main__list .time::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 35px;
    width: 100%;
    height: 23px;
    background: url('./../img/icon/icon_done.svg') no-repeat;
}
.main__list .hand::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 35px;
    width: 100%;
    height: 23px;
    background: url('./../img/icon/icon_done.svg') no-repeat;
}

.main__media {
    display: flex;
    column-gap: 145px;
}
.main__video {
    display: flex;
    align-items: center;

    width: 296px;
    height: 81px;

    box-shadow: inset 0 0 1000px 0px #fff,
    0 0 20px 10px #fff;
    border-radius: 82px;
    column-gap: 39px;

}

.main__video--text {
    margin: 0 2px 0 0;
}
.main__video h2 {
    padding: 0;
    margin: 0 0 5px 0;
    color: var(--secondary-dark);
    font-size: 15px;
    font-weight: 400;
}
.main__video p {
    margin: 0;
    padding: 0;
    color: var(--gray);
    font-size: 13px;
    font-weight: 300;
}
.main__video img{
    width: 74px;
    height: 73px;

    box-shadow: 0 0 1px 10px rgba(39, 131, 254, 0.1),
    0 0 1px 20px rgba(123, 192, 255, 0.1);

    border-radius: 50px;

}
.btn--img {
    height: 43px;
    width: 44px;

    padding: 10px;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    border-radius: 19px;
}
.btn {
    display: flex;
    align-items: center;
    column-gap: 15px;

    padding: 17px 33px;
    color: #fff !important;
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    
    box-shadow: 0px 4px 2px 0 #0C6DEE,
    0px 40px 30px -20px #0C6DEE;
    border-radius: 113px;
}
.btn:hover {
    background: linear-gradient(174.82deg, #C1E1FF 4.38%, #4595FF 96.06%);
}
.btn:active {
    background: #7BC0FF;
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.25),
    0px 4px 2px 0 #0C6DEE,
    0px 40px 30px -20px #0C6DEE;
}

.nav__logo {
    height: 48px;
    background-size: 100%;
}
.nav__list {
    display: flex;
    column-gap: 37px;
    margin: 0;
    padding: 0;
}

.nav__list a {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 400;
    
}
.nav__list.nav__list--header a:hover {
    color: var(--secondary-dark);

}

.selected-lang {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.lang-menu {
    
    font-family: var(--secondary-font);

    font-weight: 700;
    font-size: 18px;
    color: var(--secondary);
    
}
 .dropdown-lang {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    column-gap: 5px;
    position: relative;
}
.dropdown-lang:hover .lang__list {
    display: block;
}
.dropdown-lang a::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 60px;
    background: url("./../img/icon/icon_en.png");
}
.lang__list {
    display: flex;
    flex-direction: column;

    background-color: #fff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 80px;
    height: 95px;
    position: absolute;
    top: 10px;
    left: -45px; 
    z-index: 100;
    display: none;
}
.lang__list li {
    padding: 4px;

}
.lang__list .en:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 45px;

    background: url('./../img/icon/icon_en.png') no-repeat;
}
.lang__list .ru:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 28px;
    right: 45px;

    background: url('./../img/icon/icon_ru.png') no-repeat;
}
.lang__list .sw:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 58px;
    right: 45px;

    background: url('./../img/icon/icon_sw.png') no-repeat;
}

.lang__list li:hover {
    background-color: #f2f2f2;
}

.dropdown-arrow {
    display: block;
    padding-top: 10px;
}
.working {

    margin: auto;
    margin-top: 100px;
    padding: 15px 0;
    overflow: hidden;
    position: relative;
}
/* .working::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 1100px;
    width: 100%;
    height: 324px;
   
    background-image: url("./../img/main/main-after.svg");
    background-repeat: no-repeat;
    background-size: 100%;
} */
.working__title {
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    text-align: center;
    /* width: 693px;  */
    background: linear-gradient(95.89deg, #7BC0FF -9.88%, #2783FE 82.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.w-working {
    width: 1300px;
}
.container__working {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    margin: 0 auto;
    width: 1300px;
    /* height: 744px; */
    /* column-gap: 40px; */
}
.point_works {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.selfi {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: 60px;
    width: 336px;
    height: 410px;
}
.selfi img {
    width: 336px;
    height: 331px;
    /* margin-top: 75px; 
    margin-bottom: 70px; */
}
.selfi::after {
    content: "1";
    position: absolute;
    left: 55px;
    top: 455px;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 110%;

    background: linear-gradient(180deg, #F09819 0%, #EF7821 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.1;
    z-index: 100;
}
.injoy {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 314px;
    height: 570px;
    margin-left: 90px;
    margin-right: 20px;
}
.injoy img {
    width: 314px;
    height: 344px;
    /* margin-top: 65px; 
    margin-bottom: 70px; */
}
.injoy::before {
    content: "";
    position: absolute;
    left: 360px;
    top: 265px;
    width: 85px;
    height: 15px;
   
    background-image: url("./../img/working/orange_points.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 100;
}
.injoy::after {
    content: "2";
    position: absolute;
    left: 490px;
    top: 455px;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 110%;

    background: linear-gradient(180deg, #F09819 0%, #EF7821 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.1;
    z-index: 100;
}
.courier {
    width: 580px;
    height: 600px;
    padding: 0;
}
.courier img {
    width: 546px;
    height: 532px;
    
}
.courier::before {
    content: "";
    position: absolute;
    left: 820px;
    top: 265px;
    width: 85px;
    height: 15px;
   
    background-image: url("./../img/working/blue_points.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 100;
}
.courier::after {
    content: "3";
    position: absolute;
    left: 965px;
    top: 465px;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 110%;

    background: linear-gradient(180deg, #F09819 0%, #EF7821 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.1;
    z-index: 100;
}
.works__text--selfi h2{
    padding-top: 70px;
}
.works__text--injoy h2{
    padding-left: 25px;
    padding-top: 70px;
}
 
.works__text--injoy p{
    padding-left: 25px;

}
.works__text--selfi, 
.works__text--injoy,
.works__text--courier {

    width: 302px;
    height: 161px;
    margin: 0;
    margin-left: 80px;

}
.works__text h2 {
    color: var(--secondary-dark);
    font-size: 27px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 25px;
}
.works__text p{
    color: var(--gray);
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    height: 81px;
}
.receiving {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    column-gap: 40px;
}
.receiving__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 60px;
    
    position: relative;
}
.receiving__content h2 {
    color: var(--secondary-dark);
    font-size: 27px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 16px;
}
.receiving__content p{
    color: var(--gray);
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    height: 81px;
}
.receiving__content::before {
    content: "4";
    position: absolute;
    left: -25px;
    top: -20px;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 110%;

    background: linear-gradient(180deg, #F09819 0%, #EF7821 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.1;
    z-index: -1;
}
.send {
    align-items: center;
    overflow: hidden;
    position: relative;
}
.w-send {
    width: 100%;
}
.container__send {  
    background: url("./../img/send/send-girl.png") 1400px 0 no-repeat,
    url("./../img/send/send-camera.png") 400px 50px no-repeat,
    url("./../img/send/send-group.svg") 300px 0 no-repeat,
    linear-gradient(180deg, rgba(241, 217, 203, 0) 0%, #F6DDCF 100%) no-repeat;
    /* background-position: ; */
    padding: 0 0 190px 0px;
    width: 100%;
}
.send__content {
    margin: auto;
    /* margin:0 39px 50px 39px; */
    width: 1530px;
}
.send__title {
    
    text-align: center;
    color: var(--secondary-dark);
    font-size: 50px;
    font-weight: 700;
    margin: 40px 0 350px 0;
}
.send__title h1 {

}
.slider {
    /* display: flex; */
    margin: 0;
}
.owl-carousel {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    column-gap: 30px;
    margin: 20px 20px 50px 170px;

}

.sliders {
    width: 490px;
    height: 402px;
    background: #fff;
    border-radius: 30px;
    padding: 10px;
    margin-right: 20px;
    box-shadow: 0 30px 10px 0px rgb(152, 93, 1, 0.3);
}
.sliders img {
    margin-bottom: 22px;
    /* padding: 10px; */
}
.sliders h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;

    color: var(--secondary-dark);
    margin-bottom: 12px;
}
.sliders p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray);
    
}
/* .owl-item {
    display: flex;
    justify-content: center;
}
.slider {
    position: relative;
    height: 456px;
}
.slider__item {
    margin-top: 27px;
    width: 335px;
    height: 402px;
    object-fit: cover;
    border-radius: 35px;
    transition: 0.2s ease-in;
}
.slider .center .slider__item {
    margin-top: 0;
    width: 380px;
    height: 456px;
}
.slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;

    display: block;
    width:68px;
    height: 68px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    padding-left: 26px;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    box-shadow: 0px 4px 2px 0 #0C6DEE,
    0px 40px 30px -20px #0C6DEE;
    
}

.slider__btn--left {
    left: -27px;
    padding-left: 26px;
    justify-content: flex-start;
}
.slider__btn--right {
    right: -27px;
    padding-right: 26px;
    justify-content: flex-end;
}

.slider__btn:hover {
background: linear-gradient(174.82deg, #C1E1FF 4.38%, #4595FF 96.06%);
}
.slider__btn:active {
background: #7BC0FF;
box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.25),
0px 4px 2px 0 #0C6DEE,
0px 40px 30px -20px #0C6DEE;
} */