@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --secondary: #2783FE;
    --secondary-dark: #172C48;
    --secondary-font: 'Ubuntu', sans-serif;
}
body {
    font-family: var(--secondary-font);
    background-color: #fff;
    margin: 0;

}
.none {
    display: none !important;
}
a {
    text-decoration: none;
}

.header {
    /* max-width: 1920px; */
    align-items: center;
    /* overflow: hidden; */
    position: relative;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: auto;
    padding: 15px 0;
}
.w-inner {
    width: 1220px;
}
.main {
    align-items: center;
    overflow: hidden;
    position: relative;
}
.main::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 600px;
    width: 100%;
    height: 324px;
   
    background-image: url("./../img/main/main-after.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.w-main {
    width: 1920px;
}
.container__main {
    display: flex;
    align-items: center;
    margin: 0 auto;
    
    background: url("./../img/main/main-girl.png") no-repeat, 
    url("./../img/main/main-background.jpg") no-repeat ;
    background-position: right 33% bottom 45%;
    padding: 0 0 190px 0px;
    width: 1920px;
    

}
.main__about {
    width: 1220px;
    margin: 80px 0px 0px 340px;
}

.main__title {
    margin: 0 0 30px 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    width: 693px; 
    background: linear-gradient(95.89deg, #7BC0FF -9.88%, #2783FE 82.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main__list {
    
    padding: 0;
    width: 420px;
    margin: 0 0 45px 0;
}
.main__list li {
    position: relative;
    margin-top: 15px;
    margin-left: 40px;
    /* padding-left: 10px; */
    font-size: 25px;
    line-height: 200%;
    color: var(--secondary-dark);
}
.main__list .delivery::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 35px;
    width: 100%;
    height: 23px;
    background: url('./../img/icon/icon_done.svg') no-repeat;
}
.main__list .time::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 35px;
    width: 100%;
    height: 23px;
    background: url('./../img/icon/icon_done.svg') no-repeat;
}
.main__list .hand::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 35px;
    width: 100%;
    height: 23px;
    background: url('./../img/icon/icon_done.svg') no-repeat;
}

.main__media {
    display: flex;
    column-gap: 145px;
}
.main__video {
    display: flex;
    align-items: center;

    width: 296px;
    height: 81px;

    box-shadow: inset 0 0 1000px 0px #fff,
    0 0 20px 10px #fff;
    border-radius: 82px;
    column-gap: 39px;

}

.main__video--text {
    margin: 0 2px 0 0;
}
.main__video h2 {
    padding: 0;
    margin: 0 0 5px 0;
    color: #172C48;
    font-size: 15px;
    font-weight: 400;
}
.main__video p {
    margin: 0;
    padding: 0;
    color: #516176;
    font-size: 13px;
    font-weight: 300;
}
.main__video img{
    width: 74px;
    height: 73px;

    box-shadow: 0 0 1px 10px rgba(39, 131, 254, 0.1),
    0 0 1px 20px rgba(123, 192, 255, 0.1);

    border-radius: 50px;

}
.main__btn--img {
    height: 43px;
    width: 44px;

    padding: 10px;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    border-radius: 19px;
}
.btn {
    display: flex;
    align-items: center;
    column-gap: 15px;

    padding: 17px 33px;
    color: #fff !important;
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    
    box-shadow: 0px 4px 2px 0 #0C6DEE,
    0px 40px 30px -20px #0C6DEE;
    border-radius: 113px;
}
.btn:hover {
    background: linear-gradient(174.82deg, #C1E1FF 4.38%, #4595FF 96.06%);
}
.btn:active {
    background: #7BC0FF;
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.25),
    0px 4px 2px 0 #0C6DEE,
    0px 40px 30px -20px #0C6DEE;
}

.nav__logo {
    height: 48px;
    background-size: 100%;
}
.nav__list {
    display: flex;
    column-gap: 37px;
    margin: 0;
    padding: 0;
}

.nav__list a {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 400;
    
}
.nav__list.nav__list--header a:hover {
    color: var(--secondary-dark);

}

.selected-lang {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.lang-menu {
    
    font-family: var(--secondary-font);

    font-weight: 700;
    font-size: 18px;
    color: var(--secondary);
    
}
 .dropdown-lang {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    column-gap: 5px;
    position: relative;
}
.dropdown-lang:hover .lang__list {
    display: block;
}
.dropdown-lang a::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 60px;
    background: url("./../img/icon/icon_en.png");
}
.lang__list {
    display: flex;
    flex-direction: column;

    background-color: #fff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 80px;
    height: 95px;
    position: absolute;
    top: 10px;
    left: -45px; 
    z-index: 100;
    display: none;
}
.lang__list li {
    padding: 4px;

}
.lang__list .en:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 45px;

    background: url('./../img/icon/icon_en.png') no-repeat;
}
.lang__list .ru:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 28px;
    right: 45px;

    background: url('./../img/icon/icon_ru.png') no-repeat;
}
.lang__list .sw:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 58px;
    right: 45px;

    background: url('./../img/icon/icon_sw.png') no-repeat;
}

.lang__list li:hover {
    background-color: #f2f2f2;
}

.dropdown-arrow {
    display: block;
    padding-top: 10px;
}
